.list-dates{
    flex-wrap: wrap;
}
.content{
    width: 1000px;
    max-width: 95vw;   
    padding: 1em; 
}

.box-page {
    max-height: 90dvh;
    position: relative;
}

.div-search{
    width: 400px;
    max-width: 100%;
}

.box-date{
    // background-color: var(--primary);
    background: linear-gradient(to right, var(--primary), var(--secondary));
    display: block;
    padding: 10px 1em;
    width: fit-content;
    border-radius: 12px;
    color: white;
    cursor: pointer;
} 

.list-attendance{
    height: calc(100dvh - 250px);
}

.icon-excel{
    padding: 2px 5px;
    border-radius: 5px;
    display: block;
    transition: all 0.3s ease-in-out;
    &:hover{
        background: green;
        color: white !important;
    }
}