<div class="box-page">
    <div class="content">
        <!-- Listado de fechas -->
        @if (!selectedDate) {
        <a class="d-flex align-items-center cursor-pointer" (click)="goBackHouses()"
            style="position: absolute; top: 3px; left: 10px;">
            <i class="fa-solid fa-arrow-left"></i>&nbsp;Volver
        </a>
        <h2 class="text-center mt-2">Reuniones - {{casa?.nombre}}</h2>

        <div class="list-dates d-flex gap-3 mt-4">
            <div class="box-date" (click)="getListByDate('todos')">
                <strong>Ver todos</strong>
            </div>
            @for (item of list; track $index) {
            <div class="box-date" (click)="getListByDate(item)">
                <strong>{{item}}</strong>
            </div>
            }
        </div>
        }@else {
        <!-- Listado de asistencia a la fecha seleccionada -->
        <div class="list-attendance-date">
            <!-- boton de volver -->
            <a class="d-flex align-items-center cursor-pointer" (click)="goBack()"
                style="position: absolute; top: 3px;">
                <i class="fa-solid fa-arrow-left"></i>&nbsp;Volver
            </a>
            <div class="w-100 mt-3">
                <h2 class="text-center">{{selectedDate == 'todos' ? `Todos las personas` : `${casa?.nombre} -
                    ${selectedDate}`}} </h2>
            </div>
            <div class="filter d-flex justify-content-between align-items-center gap-3">
                <!-- Input de busqueda -->
                <div class="form-group div-search">
                    <input type="text" class="form-control" placeholder="Buscar por nombre o telefono"
                        [(ngModel)]="searchText" />
                </div>

                <!-- Descargar excel -->
                <div class="form-group div-download d-flex gap-2 align-items-center">
                    <span (click)="downloadExcel(selectedDate)" class="text-success cursor-pointer icon-excel"><i
                            class="fa-solid fa-file-excel"></i></span>
                    <span class="cursor-pointer" (click)="openModal(content)"><i class="fa-solid fa-money-bill-wave"></i></span>
                </div>
            </div>
            <div class="list-attendance mt-4 scrollbar-style">

                @for (item of listAttendance| filter: searchText : 'nombre' : 'telefono' : 'casaTresD'; track $index) {
                <div class="box-attendance d-flex justify-content-between align-items-center gap-3 mt-2">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <div class="d-flex gap-3 align-items-center">
                            <i class="fa-solid fa-user"></i>
                            <p class="mb-0">{{item.nombre}} - {{item.telefono || 'N/A'}}
                            </p>
                        </div>
                    </div>
                    <div class="actions">
                        <!-- Boton de contactar por whatsapp -->
                        <a class="text-success"
                            href="https://api.whatsapp.com/send?phone=57{{item.telefono}}&text=Hola {{item.nombre}}, soy del grupo Casa 3D, ¿Cómo has estado?"
                            target="_blank" style="padding: 0.5px 1em; font-size: 1.2em;">
                            <i class="fa-brands fa-square-whatsapp"></i>
                        </a>
                    </div>
                </div>
                }
            </div>
        </div>
        }
    </div>
</div>

<!-- Modal para agregar ofrenda -->
<ng-template #content let-modal>
    <div class="content-modal">
        <div class="header-modal mb-3">
            <h5 class="titleModal text-center">Agregar ofrenda - {{selectedDate}}</h5>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div>
            <div class="alert alert-warning">
                <small class="fw-bold">⚠️ Agrega el total de la ofrenda de una sola vez</small><br>
                <small class="fw-bold">⚠️ Agrega el monto sin puntos ni comas</small>
            </div>
            <div class="form-group">
                <label for="ofrenda" class="mb-2">Ofrenda:</label>
                <input type="number" class="form-control" id="ofrenda" [(ngModel)]="ofrenda" [disabled]="inProcess" />
                @if(ofrenda){<small>Monto: {{ofrenda | currency:'COP '}}</small>}
            </div>
            <div class="buttons d-flex justify-content-end gap-3">
                <button type="submit" class="btnc btn-custom-1 mt-3" (click)="addOffering()" [disabled]="inProcess">Guardar
                    @if (inProcess) {<span class="spinner-border spinner-border-sm" role="status"></span> }        
                  </button>
            </div>
        </div>
    </div>
</ng-template>