.form-confirm-attendance{
    width: 500px;
    max-width: 90%;
    margin: 20px auto;
}

.logo-casa-3d{
    width: 220px;
    margin: 0px auto;
    display: block;
}

.box-confirm-attendance{
    width: 400px;
    max-width: 95vw;
}