.list-dates{
    flex-wrap: wrap;
}

.box-page {
    width: 500px;
    max-width: 95vw;
    padding: 1em 2em;
    max-height: 90dvh;
    position: relative;
}

.div-search{
    width: 400px;
    max-width: 100%;
}

.box-date{
    // background-color: var(--primary);
    background: linear-gradient(to right, var(--primary), var(--secondary));
    display: block;
    padding: 10px 1em;
    width: fit-content;
    border-radius: 12px;
    color: white;
    cursor: pointer;
} 

.list-attendance{
    height: calc(100dvh - 250px);
}