/* You can add global styles to this file, and also import other style files */
.content-modal{
    padding: 1em;
}

.ng-select.custom {
    border: 1px solid #d9d9d9 !important;
    min-height: 0px;
    border-radius: 0;
}
.ng-select.custom .ng-control  {            
    min-height: 0px;
    border-radius: 0;
}